
/*  Accordian menu */



#accordian {
	background: #004050;
	width: 150px;
	margin: 0px 0px 0px 0px;
	color: white;
	font-size:24px;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}

#accordian ul {
	width:150px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}

#accordian ul li {
	margin-left:0px;
	margin-top:0px;
}

/*heading styles*/
#accordian h3 {
	font-size: 15px;
	line-height: 30px;
	padding: 0 10px 0px 0px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #003040; 
	background: linear-gradient(#ffffff, #002535);  /* #003040 was intead #ffffff */
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #003545;
	border-left: 1px solid lightgreen;
	font-size: 16px;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
	line-height:0px;
}
#accordian li.active ul {
	display: block;
}

